<form action='/User/LoginUser' method='POST'>
    Username: <input type='text' name='Username' />
    Password: <input type='password' name='Password' />
    <input type='submit' value='Log In' />
</form>